/* global styling */

:root {
    --header-color: rgb(240,240,240);
    --main-color: rgb(255, 255, 255);
    --shadow-color: rgb(230, 230, 230);
}

@font-face {
    font-family: 'raleway';
    src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf) format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'raleway', Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none;
    align-items: center;
    gap: 2rem;
}


/* body styling */

.header {
    background-color: var(--header-color);
    height: 75px;
    width: 100%;
    box-shadow: 0 10px 10px var(--shadow-color);
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main {
    width: 100%;
    background-color: var(--main-color);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.title {
    font-size: 3rem;
}


/* button styling */

button {
    cursor: pointer;
    border: none;
	opacity: 0.9;
}

button:hover {
	opacity: 1;
}

button.large {
    height: 3rem;
    width: 9rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    background-color: rgb(108, 108, 255);
    color: white;
}

button.large:hover {
    transform: translateY(.1rem);
}

button.small {
    height: 3rem;
    width: 8rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;
}

button.status {
    background-color: rgb(255, 251, 0);
}

button.delete, button.exit {
    background-color: rgb(255, 87, 87);
    color: white;
}

button.complete {
	background-color: rgb(102, 255, 102);
}

button.submit {
	background-color: rgb(108, 108, 255);
	color: white;
}

form button {
	padding: .2rem 1rem;
	font-size: 1.2rem;
}

/* table styling */

table {
    width: 1200px;
    border-collapse: collapse;
}

table, th {
    text-align: start;
}

th {
    padding-bottom: 10px;
}

td {
    height: 4rem;
	border-top: 1px solid rgb(201, 201, 201);
	border-bottom: 1px solid rgb(201, 201, 201);
}

td:nth-child(4) {
	width: 8ch;
}

td:nth-child(5), td:nth-child(6) {
    text-align: center;
}

tr:nth-child(even) {
    background-color: var(--header-color);
}


/* form styling */

.form-popup {
	display: none;
	position: fixed;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid black;
	z-index: 2;
	height: 500px;
	width: 300px;
	background-color: var(--main-color);
    border-radius: 0.75rem;
    box-shadow: 10px 10px 10px var(--shadow-color);
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

form button {
    border-radius: 0.25rem;
}

label {
	font-weight: bold;
}

input {
	font-size: 1.1rem;
	padding: 5px;
}

input:focus {
    outline: none;
}

input:invalid {
    border: 3px solid pink;
}

input:valid {
    border: 3px solid greenyellow;
}